$squareSize: 55px;

table.board {

    tr.row {

        display: flex;


        p.rowNumber {
            margin-right: 20px;
            margin-bottom: 0;
        }

        td.dark {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(54, 51, 51);
            width: $squareSize;
            height: $squareSize;
        }

        td.light {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: blanchedalmond;
            width: $squareSize;
            height: $squareSize;
        }

        td.columnNumber {
            justify-content: center;
            text-align: left;
            width: $squareSize;
            height: $squareSize;
        }


    }
}