$squareSize: 55px;

@mixin square($background-color) {

    display: flex;
    background-color: $background-color;

    &.checked {
        background-image: radial-gradient(circle, rgb(252, 0, 0), transparent 100%);
        height: $squareSize;
        width: $squareSize;
    }

    .empty {
        height: 100%;
        width: 100%;
        display: flex;

        &.move {
            display: flex;
            background-image: url('/src/assets/dot_move.svg');
            background-size: 15px 15px;
            background-repeat: no-repeat;
            background-position: center;
        }

    }

    .piece {
        height: 100%;
        width: 100%;
        display: flex;




        &.move {
            display: flex;
            background-image: url('/src/assets/movePiece.png');
            background-size: $squareSize $squareSize;
            height: $squareSize;
            width: $squareSize;
            pointer-events: none;

        }
    }
}



table.board {

    tr.row {

        display: flex;

        td {
            display: flex;
            border-radius: 0%;
            justify-content: center;
            text-align: left;
            align-items: center;
            width: $squareSize;
            height: $squareSize;



            &.dark {

                @include square(rgb(180, 133, 30));


                &.selected {
                    background-color: rgb(110, 80, 18);
                }

            }

            &.light {

                @include square(rgb(233, 195, 163));

                &.selected {
                    background-color: rgb(190, 177, 158);
                }
            }

            &.columnNumber {
                display: block;
                height: 20px;
            }
        }

        p.rowNumber {
            margin-right: 20px;
            margin-bottom: 0;
        }
    }

    img.switchButton {
        margin: 0;
        padding: 0;
    }
}